@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap'); */

/* light & dark mode colors */
:root {
  --bg-color: white;
  --header-bg: #35495e;
  --header-color: #35495e;
  --card-bg: white;
  --text-color: #333;
  --inverse-text: #fff;
  --secondary-text: #777;
  --accent-color: #2a3848;
  --highlight-color: #e8f0ff;
  --button-hover: #2a3848;
  --delete-btn-bg: #e74c3c;
  --delete-btn-color: white;

  --border-color: #ccc;
  --shadow-color: rgba(0, 0, 0, 0.08);
  --white-color: white;
  --table-color: white;
  --table-hover: rgb(234, 233, 233);

  --status-not-started-bg: #e0e6ed;
  --status-not-started-color: #35495e;
  --status-in-progress-bg: #f1c40f;
  --status-in-progress-color: #fff;
  --status-completed-bg: #2ecc71;
  --status-completed-color: #fff;

  --status-bad-color: rgb(206, 50, 50);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  background-color: var(--header-bg);
  color: var(--header-color);
  padding: 20px;
  text-align: center;
}

.stat-card,
.semester-card,
.task-table,
.table-wrapper,
.add-task-form {
  background-color: var(--card-bg);
  color: var(--text-color);
  border-color: var(--accent-color);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

button,
.back-link,
.cancel-link,
.edit-link,
.delete-btn,
.add-sem button,
.add-task-form button {
  background-color: var(--accent-color);
  color: var(--header-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add-sem button:hover,
.add-task-form button:hover,
.back-link:hover,
.cancel-link:hover,
.edit-link:hover,
.delete-btn:hover {
  background-color: var(--button-hover);
}

.delete-btn {
  background-color: var(--delete-btn-bg);
  color: var(--delete-btn-color);
}

.status-badge.not-started {
  background-color: var(--status-not-started-bg);
  color: var(--status-not-started-color);
}

.status-badge.in-progress {
  background-color: var(--status-in-progress-bg);
  color: var(--status-in-progress-color);
}

.status-badge.completed {
  background-color: var(--status-completed-bg);
  color: var(--status-completed-color);
}

input,
select,
textarea {
  border: 1px solid var(--accent-color);
  background-color: var(--card-bg);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* dark mode */
body.dark-mode {
  --bg-color: #232323;
  --header-bg: #111;
  --header-color: rgb(195, 192, 192);
  --card-bg: #2c2c2c;
  --text-color: #e4e2e2;
  --secondary-text: #333;
  --inverse-text: #333;
  --accent-color: #444;
  --highlight-color: #333;
  --button-hover: #2c2b2b;
  --delete-btn-bg: #c0392b;
  --delete-btn-color: #fff;

  --border-color: #555;
  --shadow-color: rgba(255, 255, 255, 0.1);
  --white-color: rgb(195, 192, 192);
  --table-color: rgb(21, 21, 21);
  --table-hover: rgb(33, 32, 32);

  --status-not-started-bg: #444;
  --status-not-started-color: #ddd;
  --status-in-progress-bg: #a88a14;
  --status-in-progress-color: #000;
  --status-completed-bg: #0d7e3c;
  --status-completed-color: #fff;

  --status-bad-color: rgb(140, 16, 16);
}


body {
  /* font-family: Arial, sans-serif; */
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  /* font-family: 'Nunito', sans-serif; */
  /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Fredoka', sans-serif; */ 
  /* font-family: 'Comfortaa', sans-serif; */
  /* font-family: 'Baloo 2', cursive; */

  color: var(--text-color);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--header-bg);
  color: var(--header-color);
  padding: 20px;
  text-align: center;
}


.add-sem {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  max-width: 500px;
}

.add-sem input {
  flex: 1;
  padding: 12px 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  outline: none;
  transition: all 0.2s ease;
}

.add-sem input:focus {
  box-shadow: 0 0 0 3px var(--shadow-color);
}

.add-sem button {
  padding: 12px 18px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  background-color: var(--header-bg);
  color: var(--white-color);
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.add-sem button:hover {
  background-color: var(--button-hover);
}
.add-sem button:active {
  transform: scale(0.97);
}


.add-task-form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: var(--bg-color);
  gap: 12px;
  max-width: 1100px;
  margin: 0 auto;
  align-items: center;
}

select {
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}


.add-task-form input,
.add-task-form select,
.add-task-form textarea,
.add-task-form button {
  font-family: 'Poppins', sans-serif;
  padding: 12px 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  width: 100%;
  box-sizing: border-box;
}

.add-task-form button {
  grid-column: span 12;
  margin-top: 8px;
  background-color: var(--header-bg);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.add-task-form button:hover {
  background-color: var(--button-hover);
}

.add-task-form button:active {
  transform: scale(0.98);
}

.field-tiny {
  grid-column: span 2;
}

.field-small {
  grid-column: span 3;
}

.field-medium {
  grid-column: span 4;
}

.field-large {
  grid-column: span 5;
}

.field-notes {
  grid-column: span 8;
  min-height: 45px;
  height: 45px;
  max-height: 100px;
  resize: vertical;
}



.back-link {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1000;

  background-color: var(--header-bg);
  color: var(--white-color);
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);

  transition: background-color 0.2s ease;
}

.back-link:hover {
  background-color: var(--button-hover);
}


.cancel-link-container {
    text-align: center;
    margin-top: 20px;
}

.cancel-link-container {
    text-align: left;
    margin-top: 20px;
}

.cancel-link {
    background-color: var(--delete-btn-bg);
    color: var(--white-color);
    border: none;
    padding: 10px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease, transform 0.1s ease;
    
    text-decoration: none;
    display: inline-block;
}

.cancel-link:hover {
    background-color: #a3281b;
}

.cancel-link:active {
    transform: scale(0.95);
}


.main-header {
  background-color: #35495e;
  color: var(--white-color);
  padding: 20px 20px;
  text-align: center;
  position: relative;
}

.container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

.section-header h2 {
  margin-bottom: 20px;
  color: var(--header-color);
  text-align: center;
}

.semester-list {
  max-width: 500px;
  margin: 0 auto; 
  list-style: none;
  padding: 0;
}

.semester-item {
  margin-bottom: 15px;
}

.semester-card {
  background: var(--white-color);
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px var(--shadow-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.semester-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 7px var(--shadow-color);
}

.semester-name {
  font-size: 18px;
  font-weight: 600;
  color: #35495e;
  text-decoration: none;
}

.semester-name:hover {
  text-decoration: underline;
}

.semester-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.edit-link {
  color: #557393;
  background-color: transparent;
  text-decoration: none;
  font-weight: 500;
}

.edit-link:hover {
  text-decoration: underline;
  background-color: transparent;
}

.delete-btn {
  background-color: var(--delete-btn-bg);
  color: var(--white-color);
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.delete-btn:hover {
  background-color: #a3281b;
}

.delete-btn:active {
  transform: scale(0.95);
}



.course-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}


.table-wrapper {
  overflow-x: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.task-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 900px;
}

.task-table th,
.task-table td {
  height: 30px;
  padding: 5px 10px;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
  font-size: 14px;
  color: var(--text-color);
}

.task-table th {
  background-color: var(--table-color);
  color: var(--header-color);
  font-weight: 600;
}

.task-table tr:hover {
  background-color: var(--table-hover);
}

.task-title {
  font-weight: 500;
}

.task-notes {
  max-width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.task-table td {
  vertical-align: middle;
}

.table-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table-actions form {
  margin: 0;
  display: flex;
}



.status-badge {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
}

.status-badge.not-started {
  background-color: var(--status-not-started-bg);
  color: var(--not-started-color);
}

.status-badge.in-progress {
  background-color: var(--status-in-progress-bg);
  color: var(--in-progress-color);
}

.status-badge.completed {
  background-color: var(--status-completed-bg);
  color: var(--completed-color);
}


.add-sem textarea {
  flex: 1;
  min-height: 40px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  /* font-family: inherit; */
  resize: vertical;
}


h2 {
  color: var(--header-color);
  margin-bottom: 10px;
}

p {
  margin: 0;
}



/* statistics styling */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 35px;
  margin: 20px 0;
}
.stats-grid.sem-avg {
  max-width: 500px;
  margin: 20px auto;
}

.stat-card {
  background: var(--white-color);
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px var(--shadow-color);
  transition: transform 0.15s ease;
}

.stat-card:hover {
  transform: translateY(-3px);
}

.stat-label {
  display: block;
  font-size: 0.9rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}

.stat-value {
  font-size: 1.5rem;  
  font-weight: bold;
  color: #333;
}

.stat-card.good { 
  background: var(--status-completed-bg); 
  border: 1px solid var(--border-color);
}
.stat-card.good .stat-value {
  color: var(--status-completed-color);
}

.stat-card.ok { 
  background: var(--status-in-progress-bg); 
  border: 1px solid var(--border-color);
}
.stat-card.ok .stat-value {
  color: var(--status-in-progress-color);
}

.stat-card.bad { 
  background: var(--status-bad-color); 
  border: 1px solid var(--border-color);
}
.stat-card.bad .stat-value {
 color: var(--white-color)
}



.upload-syllabus-form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
  max-width: 710px;
  margin: 20px auto 40px auto;
  padding: 20px;
  background-color: var(--card-bg);
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--shadow-color);
  border: 1px solid var(--border-color);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.upload-syllabus-form select,
.upload-syllabus-form input[type="file"] {
  grid-column: span 4;
  padding: 12px 10px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

.upload-syllabus-form select:focus,
.upload-syllabus-form input[type="file"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--shadow-color);
}

.upload-syllabus-form input[type="submit"] {
  grid-column: span 4;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 8px;
  border: solid 1px var(--border-color);
  background-color: var(--header-bg);
  color: var(--white-color);
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.upload-syllabus-form input[type="submit"]:hover {
  background-color: var(--button-hover);
}

.upload-syllabus-form input[type="submit"]:active {
  transform: scale(0.97);
}

@media (max-width: 768px) {
  .upload-syllabus-form {
    grid-template-columns: 1fr;
  }
  .upload-syllabus-form select,
  .upload-syllabus-form input[type="file"],
  .upload-syllabus-form input[type="submit"] {
    grid-column: span 12;
  }
}



#darkModeToggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;

  background-color: var(--header-bg);
  color: var(--header-color);
  border: none;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 500;

  cursor: pointer;

  box-shadow: 0 2px 4px rgba(0,0,0,0.15);

  transition: background-color 0.2s ease, transform 0.1s ease;
}

#darkModeToggle:hover {
  background-color: var(--button-hover);
}

#darkModeToggle:active {
  transform: scale(0.7);
}