<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header class="main-header">
    <h1>Course Summary - {{ course.name }}</h1>
    <button id="darkModeToggle" style="position:absolute; top:20px; right:20px;">🌙</button>
  </header>
  
    <div class="cancel-link-container">
      <a class="back-link" href="javascript:history.back()">⬅ Back</a>
    </div>
    
    <div class="container">
      <h2>{{course.name}} Course Statistics</h2>
      <div class="stats-grid">
        <div class="stat-card">
          <span class="stat-label">Earned</span>
          <span class="stat-value">{{ percentage_earned | round(2) }}%</span>
        </div>

        <div class="stat-card">
          <span class="stat-label">Lost</span>
          <span class="stat-value">{{ percentage_lost | round(2) }}%</span>
        </div>

        <div class="stat-card">
          <span class="stat-label">Available</span>
          <span class="stat-value">{{ percentage_available | round(2) }}%</span>
        </div>

        <div class="stat-card highlight 
        {% if course_average >= 80 %}good
        {% elif course_average >= 60 %}ok
        {% elif course_average > 0 %}bad
        {% endif %}">
          <span class="stat-label">Average</span>
          <span class="stat-value">{{ course_average | round(2) }}%</span>
        </div>
      </div>

    <h2>Tasks</h2>
    <div class="table-wrapper">
      <table class="task-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Due Date</th>
            <th>Weight</th>
            <th>Status</th>
            <th>Grade</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for t in tasks %}
          <tr>
            <td class="task-title">{{ t.title }}</td>
            <td>{{ t.due_date }}</td>
            <td>{{ t.weight }}</td>
            <td>
              <span class="status-badge 
                          {% if t.status == 'Not Started' %}not-started{% endif %}
                          {% if t.status == 'In Progress' %}in-progress{% endif %}
                          {% if t.status == 'Completed' %}completed{% endif %}">
                {{ t.status }}
              </span>
            </td>
            <td>{{ t.grade or "" }}</td>
            <td class="task-notes">{{ t.notes }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


  </div>
  <script src="/static/dark-mode.js"></script>
</body>
</html>
